= simple_form_for(gift) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :price
    = f.input :description
    = f.input :image, label: 'Image path', placeholder: 'http://image_path.com'

  .form-actions
    = f.button :submit
