= simple_form_for(@gift) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :price
    = f.input :description
    = f.association :user

  .form-actions
    = f.button :submit
