%p#notice= notice

%a{ href: "#"}
  %img.img-responsive{:alt => "", :src => "#{gift.image}"}
%p
  %b Name:
  = gift.name
%p
  %b Price:
  = gift.price
%p
  %b Description:
  = gift.description

= link_to 'Edit', edit_gift_path(gift)
\|
= link_to 'Back', gifts_path
